.rodape{
    margin: 10px auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    border: 1px dashed black;
    background-color: darkgrey;
}

label {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}